<div class="background-box">
  <div class="header">
    <span class="title">Reply</span>
    <%= link_to "back", post_path(params[:post_id]), :class=>"new_reply"%>
  </div>
  <div class="new_reply_field">
    
  </div>
</div>
