<div class="background-box">
  <div class="show_users">
    <div class="header">
      <span class="title">Edit Profile</span>
      <%= link_to posts_path, :class=>"back_to_posts" do %>
        <i class="fas fa-home"></i> <span class="home_button">Home</span>
      <% end %>
    </div>


  </div>
</div>
