<div class="background-box">
  <div class="index_following">
    <div class="header">
      <span class="title">Following</span>
      <%= link_to "back", user_path(params[:id]), :class=>"back_to_user"%>
    </div>

  </div>
</div>
